.navbar {
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
		url('/images/navbar-bg.jpg') center no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;

	&-icon {
		width: 5.5rem;
		height: 5.5rem;
		background-color: var(--color-white);
		border-radius: 50%;
		cursor: pointer;
		flex-direction: column;

		.line {
			height: 0.2rem;
			width: 3.5rem;
			background-color: var(--color-grey-light);
		}

		&--open {
			position: fixed;
			top: 6.5rem;
			left: 6.5rem;
			z-index: 300;

			.line {
				margin: 0.3rem 0;
			}
		}

		&--close {
			position: absolute;
			top: 2.5rem;
			right: 3rem;
			z-index: 350;

			.line {
				position: absolute;

				&--1 {
					transform: rotate(40deg);
				}

				&--2 {
					transform: rotate(-40deg);
				}
			}
		}
	}

	&-box {
		width: 100vw;
		height: 100vh;
		background-color: rgba(255, 255, 255, 0.7);
		position: fixed;
		left: 0;
		bottom: -100%;
		opacity: 0;
		z-index: 400;
		padding: 3.5rem 5.5rem 3.5rem 3.5rem;
		transition: bottom 0.5s, opacity 0.2s;
	}

	&__link {
		font-size: 3rem;
		font-weight: 700;
		color: var(--color-white);
		text-transform: uppercase;
		width: 100%;
		position: relative;
		top: -100%;
		opacity: 0.8;
		transition: all 0.3s;

		&:hover {
			opacity: 1;
			color: var(--color-primary);
		}
	}

	&__list {
		height: 100%;
		display: flex;
	}
}

.change {
	.navbar-box {
		bottom: 0;
		opacity: 1;
		transition: bottom 0.5s, opacity 0.2s 0.25s;
	}

	.navbar__link {
		top: 0;

		&:nth-child(1) {
			transition: top 1s 0.4s, opacity 0.3s, color 0.3s;
		}

		&:nth-child(2) {
			transition: top 1s 0.6s, opacity 0.3s, color 0.3s;
		}

		&:nth-child(3) {
			transition: top 1s 0.8s, opacity 0.3s, color 0.3s;
		}

		&:nth-child(4) {
			transition: top 1s 1s, opacity 0.3s, color 0.3s;
		}

		&:nth-child(5) {
			transition: top 1s 1.2s, opacity 0.3s, color 0.3s;
		}
	}
}
