.story {
	transform: skewX(-20deg);
	display: flex;

	@include respond(tab-port) {
		transform: skewX(0);
		flex-direction: column;
		align-items: center;
	}

	&__bg {
		background-color: rgba(238, 238, 238, 0.85);
		padding: 5rem;
		margin: 5rem;
		width: 70%;
		box-shadow: 0 2rem 5rem rgba(51, 51, 51, 0.4);
		transform: skewX(20deg);

		@include respond(tablet) {
			width: 80%;
		}

		@include respond(tab-port) {
			transform: skewX(0);
		}
	}

	&__image {
		width: 20rem;
		height: 20rem;
		border-radius: 50%;
		object-fit: cover;
		margin-right: 5rem;

		@include respond(tab-port) {
			margin-bottom: 3rem;
		}
	}

	&__text {
		letter-spacing: 0.1rem;
	}

	&__heading {
		font-size: 2.5rem;
		text-transform: uppercase;
		color: var(--color-grey);
		margin-bottom: 1rem;
	}

	&__paragraph {
		font-size: 1.8rem;
		color: var(--color-grey-light);
		&::first-letter {
			margin-left: 1rem;
		}
	}
}
