.popular-tours {
	padding: 5rem 0 10rem 0;

	&__heading {
		font-size: 8rem;
		text-align: center;
		margin-bottom: 8rem;
		color: var(--color-primary);
		text-shadow: 0 0.1rem 0.2rem var(--color-primary);

		@include respond(tab-port) {
			font-size: 6rem;
		}

		@include respond(phone-land) {
			font-size: 5rem;
		}
	}
}
